<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">New Quiz Post</h2>
        <%= render partial: "form", locals: { quiz: @quiz } %>
    </div>
  </div>
</div>